<div
  class="key-container"
  [ngStyle]="{ 'background-color': color }"
  (click)="clicked.emit(key)">
  <span [ngClass]="getLabelClass(1)" [ngStyle]="{ 'color': getLabelColor(1) }">
    {{ key.labels[1] }}
  </span>
  <span [ngClass]="getLabelClass(3)" [ngStyle]="{ 'color': getLabelColor(3) }">
    {{ key.labels[3] }}
  </span>
  <span [ngClass]="getLabelClass(0)" [ngStyle]="{ 'color': getLabelColor(0) }">
    {{ key.labels[0] }}
  </span>
  <span [ngClass]="getLabelClass(2)" [ngStyle]="{ 'color': getLabelColor(2) }">
    {{ key.labels[2] }}
  </span>
</div>
