.key-container {
  user-select: none;
  cursor: pointer;
  height: 2rem;
  min-width: 2rem;
  max-width: 10rem;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 0.2rem;
  box-shadow: -0.05rem 0.05rem 0.2rem 0.01rem #00000030;
  -webkit-box-shadow: -0.05rem 0.05rem 0.2rem 0.01rem #00000030;
  -moz-box-shadow: -0.05rem 0.05rem 0.2rem 0.01rem #00000030;
  transition: background-color 100ms;
}

@media only screen and (max-width: 900px) {
  .key-container {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    height: 1.5rem;
    min-width: 1.5rem;
    width: 1.5rem;
    padding: 0;
  }

  .label {
    display: none;
    visibility: hidden;
  }

  .label--active {
    display: unset;
    visibility: visible;
  }
}
