<div class="keyboard-container">
  <div
    *ngIf="keyboardStrategy"
    class="rows__container">
    <div
      class="rows__row"
      *ngFor="let row of rows; index as i">
        <app-key
          *ngFor="let key of row.keys"
          [subject]="keyboardService.subjects[key.code]"
          [key]="key"
          [color]="keyboardStrategy.getKeyColor(key)"
          [width]="key.code === 'Space' ? 5 : 1"
          [activeLabelNumber]="keyboardStrategy.getActiveLabelNumber(key)"
          (clicked)="handleKey($event)">
        </app-key>
    </div>
  </div>
</div>
