.keyboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-keys__container {
  user-select: none;
  width: calc(100% - 1rem);
  min-height: 1.4rem;
  margin: 0.2rem 0.5rem 1rem 0.5rem;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.additional-keys__container::-webkit-scrollbar {
  display: none;
}

.additional-keys__key {
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: hsl(0, 0%, 95%);
}

.additional-keys__key:hover {
  background-color: hsl(0, 0%, 100%);
}

.additional-keys__key:active {
  background-color: hsl(0, 0%, 95%);
}

.rows__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rows__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .rows__container {
    gap: 0.3rem;
    overflow: scroll;
  } 

  .rows__row {
    gap: 0.3rem;
  }

  .additional-keys__container {
    gap: 0.3rem;
    margin: 0.1rem 0 0.5rem 0;
    justify-content: flex-start;
  }
}

