<div class="virtual-keyboard__container">
  <div class="virtual-keyboard__panel">
    <app-drop-down
      [selected]="selectedLayout"
      [options]="availableLayouts"
      (onSelect)="onLayoutSelected($event)">
    </app-drop-down>
  </div>
  <app-text-field
    class="virtual-keyboard__text"
    [text]="text"
    [selectionStart]="selectionStart"
    (onFocusChange)="onTextFieldFocusChange($event)"
    (onSelectionChange)="onSelectionChange($event)"
    (onChange)="setText($event)">
  </app-text-field>
  <div class="toolbar__container">
    <app-button
      [icon]="'content_copy'"
      (onClick)="onCopy()">
    </app-button>
    <app-button
      [icon]="'delete'"
      (onClick)="onDeleteAll()">
    </app-button>
    <app-button
      [icon]="'backspace'"
      (onClick)="onDeleteKey()">
    </app-button>
  </div>
  <app-keyboard
    *ngIf="layoutData"
    class="virtual-keyboard__keyboard"
    [layoutData]="layoutData"
    [isMobileView]="isMobileView"
    (onKey)="onKeyPressed($event)">
  </app-keyboard>
</div>
