.button__container {
  padding: 0.5rem;
  font-size: medium;
  height: 1rem;
  width: 1rem;
  border-radius: 0.2rem;
  box-shadow: -0.05rem 0.05rem 0.2rem 0.01rem #00000030;
  -webkit-box-shadow: -0.05rem 0.05rem 0.2rem 0.01rem #00000030;
  -moz-box-shadow: -0.05rem 0.05rem 0.2rem 0.01rem #00000030;
  transition: background-color 100ms;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: #FFFFFF;
  user-select: none;
}

.button__container:hover {
  background-color: #CCCCCC;
}

.button__container:active {
  background-color: #FFFFFF;
}
